---
import AdminBareLayout from '../../layouts/AdminBareLayout.astro';
import NotFoundSvg from '../../components/404.svg?raw';

Astro.response.status = 404;
---
<AdminBareLayout>
  <style>
    body {
      height: 100dvh;
    }
  </style>
  <div class="flex justify-center items-center h-full align-center">
    <div class="flex flex-col gap-6 justify-center items-center w-[95%] max-w-[1300px]">
      <Fragment set:html={NotFoundSvg} />
      <p class="font-bold text-4xl pt-10">Contemplating the solution. It's probably more biting...</p>
      <p class="font-bold text-xl">Let's get you <a href="/admin" class="link link-info">Home</a></p>
    </div>
  </div>
</AdminBareLayout>