---
import type { ComponentProps } from "astro/types";
import BaseField from "../BaseField.astro";

interface Props extends ComponentProps<typeof BaseField> {
    classList?: string;
    groupFields: Array<ComponentProps<typeof BaseField>>;
    fields: Record<string, any>;
}

const { id, name, type, label, classList, groupFields, fields } = Astro.props;
---
<div class={classList}>
    {groupFields.map((field) => {
        const FieldComponent = fields[field.type];
        return <FieldComponent {...field} />;
    })}
</div>